html, body, div, span, h2, h2, h3, h4, h5, h6, hr, p,
a, img, ol, ul, li, form, label, legend, caption, table, th, td, tr, 
article, aside, figure, figcaption, footer, header, 
menu, nav, section, span {
	margin: 0;
	padding: 0;
	font-size: 100%;
}
article, aside, footer, header, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
a {
	text-decoration: none;
}
a:hover {
	-webkit-transition:all 0.4s ease-in-out;
	-moz-transition:all 0.4s ease-in-out;
    -ms-transition:all 0.4s ease-in-out;
	-o-transition:all 0.4s ease-in-out;
	transition:all 0.4s ease-in-out;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
body {
	font-family: 'Proxima Nova Regular';
	color: #fff;
}
.wrapper {
	display: block;
	max-width: 1920px;
	margin: 0 auto;
}
header {
	background: url(../images/header-bg.jpg) no-repeat center top;
}
.container {
	margin: 0 auto;
	width: 100%;
	max-width: 1170px;
}
h2 {
	font-family: 'Bebas Neue Cyrillic';
	font-size: 72px;
	color: #222222;
	text-transform: uppercase;
}
img {
	display: block;
}
	.header-top {
		display: table;
		position: relative;
		width: 100%;
		padding-top: 30px;
	}
		.header-top__logo {
			display: table-cell;
			width: 33.333333%;
			text-align: left;
			vertical-align: middle;
		}
		.header-top__btn {
			display: table-cell;
			width: 33.333333%;
			text-align: center;
			vertical-align: middle;
		}
			.header-top__btn a {
				display: inline-block;
				padding: 14px 39px;
				font-family: 'Proxima Nova Semibold';
				font-size: 14px;
				color: #000000;
				background: #f3c128;
				border-radius: 4px;
				text-transform: uppercase;
			}
			.header-top__btn a:hover {
				color: #fff;
				 -webkit-transition:all 0.4s ease-in-out;
				  -moz-transition:all 0.4s ease-in-out;
				  -ms-transition:all 0.4s ease-in-out;
				  -o-transition:all 0.4s ease-in-out;
				   transition:all 0.4s ease-in-out;
			}
		.header-top__logo2 {
			display: table-cell;
			width: 33.333333%;
			text-align: right;
			vertical-align: middle;
		}
			.header-top__logo a, .header-top__logo2 a {
				display: inline-block;
			}
	.just-btn {
		display: block;
		margin-top: 180px;
		text-align: center;
	}
		.just-btn a{
		display: inline-block;
		padding: 9px 49px;
		text-align: center;
		font-family: 'Bebas Neue Cyrillic';
		font-size: 75px;
		color: #fff;
		text-transform: uppercase;
		background: linear-gradient(90deg, rgba(238,55,0,1) 0%, rgba(216,3,3,1) 100%); 		
		}
		.just-btn a:hover {
			border: 3px solid #d80303;
			padding: 6px 46px;
		}
	.just-text {
		font-family: 'Proxima Nova Regular';
		font-size: 24px;
		text-align: center;
		margin-top: 45px;
	}
	.header-bottom {
		margin-top: 113px;
	}
		.header-bottom h3 {
			font-family: 'Proxima Nova Bold';
			font-size: 24px;
			text-align: center;
			text-transform: uppercase;
		}	
		.advantages {
			background: rgba(255, 255, 255, .1);
			margin-top: 45px;
			padding: 40px 0 45px 0;
		}
			.advantages-item {
				display: inline-block;
				position: relative;
				width: 33.30%;
				vertical-align: top;
				margin-left: -4px;
			}
				.advantages-item img {
					display: inline-block;
				}
				.advantages-item p {
					position: absolute;
					display: inline-block;
					padding-left: 35px;
					font-family: 'Proxima Nova Regular';
					font-size: 18px;
				}
#vyg-popoln {
	background: url(../images/vygoda-bg.png) no-repeat center top, 
				url(../images/privilege-bg2.jpg) no-repeat center bottom;
	padding-top: 130px;
	padding-bottom: 140px;
}
	.advantage {
		text-align: center;
	}
		.title {
			text-align: center;
		}
		.title span {
			font-family: 'Proxima Nova Semibold';
			font-size: 20px;
			padding: 8px 11px;
			text-transform: uppercase;
			background: #d80303;
		}
		.title h2 {
			margin-top: 20px;
		}
	.advantage-table {
		width: 100%;
		border: 1px solid #d0d0d0;
		border-collapse: collapse;
		border-radius: 10px;
		margin-top: 65px;
	}
		.advantage-table tr {
			border: none;
		}
		.advantage-table th, .advantage-table td {
			width: 25%;
			height: 100px;
			box-sizing: border-box;
		}
		.advantage-table th {
			font-family: 'Proxima Nova Semibold';
			font-size: 18px;
			background: #36397a;
			border: none;
			border-right: 1px solid #d0d0d0;
			text-transform: uppercase;
			text-align: center;
			vertical-align: middle;
		}
		.advantage-table th:last-child {
			border-right: none;
		}
		.advantage-table th:first-child, .advantage-table th:last-child {
			background: #1c1d30;
		}
		.advantage-table td {
			font-family: 'Proxima Nova Bold';
			font-size: 24px;
			color: #222222;
			border: none;
			text-align: center;
			vertical-align: middle;
			border-top: 1px solid #d0d0d0;
			border-right: 1px solid #d0d0d0;
		}
		.advantage-table td:first-child {
			font-size: 18px;
			background: #f1f4f7;
		}
		.advantage-table td:last-child {
			border-right: none;
			color: #1aa000;
		}
	.popolnenie {
		text-align: center;
		padding-top: 130px;
	}
	.popolnenie-table {
		width: 100%;
		border: 1px solid #d0d0d0;
		border-collapse: collapse;
		margin-top: 65px;
	}
		.popolnenie-table tr {
			border: none;
		}
		.popolnenie-table th, .popolnenie-table td {
			width: 25%;
			height: 100px;
			box-sizing: border-box;
		}
		.popolnenie-table th {
			font-family: 'Proxima Nova Semibold';
			font-size: 18px;
			background: #36397a;
			border: none;
			border-right: 1px solid #d0d0d0;
			text-transform: uppercase;
			text-align: center;
			vertical-align: middle;
		}
		.popolnenie-table th:last-child {
			border-right: none;
		}
		.popolnenie-table th:first-child, .advantage-table th:last-child {
			background: #1c1d30;
		}
		.popolnenie-table td {
			font-family: 'Proxima Nova Bold';
			font-size: 24px;
			color: #222222;
			border: none;
			text-align: center;
			vertical-align: middle;
			border-top: 1px solid #d0d0d0;
			border-right: 1px solid #d0d0d0;
			text-transform: uppercase;
		}
		.popolnenie-table td:first-child {
			font-size: 18px;
			background: #f1f4f7;
		}
		.popolnenie-table td:nth-child(2) {
			font-family: 'Proxima Nova Bold';
			font-size: 30px;
		}
		.popolnenie-table td:last-child {
			border-right: none;
			color: #1aa000;
		}
		.popolnenie-table td a {
			display: block;
			color: #000000;
			font-size: 16px;
			line-height: 100px;
		}
		.popolnenie-table td a:hover {
			background: #f3c128;
		}
		.popolnenie-table td a:before {
			content: "";
			width: 17px;
			height: 17px;
			background: url(../images/plus-btn-yellow.png) no-repeat center center;
			display: inline-block;
			margin-right: 13px;
			vertical-align: middle;
			margin-top: -3px;
		}
		.popolnenie-table td a:hover:before {
			background: url(../images/plus-btn-black.png) no-repeat center center;
		}
#privilege {
	display: block;
	padding-top: 55px;
	padding-bottom: 70px;
	background: url(../images/privilege-bg3.jpg) no-repeat center top;	
}
	.privilege {
		display: inline-block;
		margin-top: 15px;
		width: 50%;
	}
		.privilege-block {
			width: 575px;
			margin-top: 50px;
		}
			.privilege-block-itm {
				display: inline-block;
				vertical-align: top;
				width: 277px;
				box-sizing: border-box;
				padding: 20px 0 0 40px;
				background: url(../images/privilege-item-bg.png) no-repeat center top, linear-gradient(115deg, rgba(60,62,97,1) 0%, rgba(60,62,97,1) 1%, rgba(58,61,96,1) 100%);			
				padding-bottom: 64px;
				margin-right: 16px;
				margin-top: 20px;
				border-radius: 5px;

			}
			.privilege-block-itm:first-child, .privilege-block-itm:nth-child(2) {
				margin-top: 0;
			}
			.privilege-block-itm:nth-child(2n) {
				margin-right: 0;
			}
				.privilege-block-itm p {
					font-family: 'Bebas Neue Cyrillic';
					font-size: 48px;
				}
				.privilege-block-itm span {
					display: block;
					font-family: 'Proxima Nova Semibold';
					font-size: 20px;
					color: #f3c128;
					margin-top: 20px;
				}
	.vip {
		display: inline-block;
		width: 50%;
		box-sizing: border-box;
		padding-left: 115px;
		vertical-align: top;
		margin-left: -5px;
	}
		.vip-b {
			display: block;
			background: #fff;
			margin-bottom: 20px;
			padding: 22px 0 17px 50px;
			border-radius: 6px;
			box-shadow: 0px 8px 23px 0.25px rgba(0, 0, 1, 0.15);
		}
			.vip-b p {
				font-family: 'Proxima Nova Semibold';
				font-size: 20px;
				color: #525252;
				margin-bottom: 15px;
			}
			.vip-b span {
				font-family: 'Bebas Neue Cyrillic';
				font-size: 48px;
				color: #f3c128;
			}
		.vip-b2 {
			padding: 40px 0 0 50px;
			background: #fff;
			border-radius: 6px;
			box-shadow: 0px 8px 23px 0.25px rgba(0, 0, 1, 0.15);
		}
			.vip-b2 p {
				font-family: 'Proxima Nova Regular';
				font-size: 20px;
				color:#525252; 
				margin-bottom: 10px;
			}
			.vip-b2 h2 {
				margin-bottom: 50px;
			}	
			.vip-b2 a {
				display: inline-block;
				font-family: 'Proxima Nova Semibold';
				font-size: 16px;
				color: #000000;
				text-transform: uppercase;
				padding: 16px 55px;
				background: #f3c128;
				border-radius: 4px;
				margin-bottom: 39px;
			}
#crypto {
	padding: 125px 0 170px 0;
	text-align: center;
}
	.previleg {
		display: block;
		width: 100%;
		margin-top: 110px;
	}
		.previleg-item {
			display: inline-block;
			position: relative;
			vertical-align: top;
			width: 20%;
			margin-left: -5px;
		}
			.previleg-item__img {
				display: block;
				position: relative;
			}
				.previleg-item__img img {
					margin: 0 auto;
				}
			.previleg-item__img:after {
				position: absolute;
				display: inline-block;
				content: '';
				top: 47%;
				left: 85%;
				width: 80px;
				height: 1px;
				background: red;
			}
			.previleg-item:last-child .previleg-item__img:after {
				display: none;
			}
			.previleg-item p {
				font-family: 'Proxima Nova Regular';
				color: #000000;
				font-size: 18px;
				margin-top: 40px;
			}
				.previleg-item p span {
					font-family: 'Proxima Nova Bold';
					letter-spacing: 0.01px;
				}
#spec-offer {
	padding: 50px 0;
	background: url(../images/spec-offer.jpg) no-repeat center top;
}
	#spec-offer h2 {
		display: inline-block;
		vertical-align: top;
		width: 400px;
		text-align: right;
		color: #fff;
		letter-spacing: 3px;
		padding-left: 125px;
	}
		#spec-offer h2 span {
			color: #f3c128;
			letter-spacing: 3px;
		}
	.card {
		display: inline-block;
		vertical-align: top;
		width: 475px;
		margin-left: 115px;
		background: url(../images/card-bg.png) no-repeat center top, linear-gradient(-40deg, #292a54 13%, #464395 87%);;
		padding: 55px 0 40px 0;
		border-radius: 12px;
		box-sizing: border-box;
		padding-left: 45px;
		box-shadow: 0px 21px 64px 0.65px rgba(4, 31, 75, 0.7);
	}
		.card p {
			font-family: 'Proxima Nova Semibold';
			font-size: 24px;
			margin-bottom: 60px;
		}
		.card a {
			display: inline-block;
			font-family: 'Proxima Nova Semibold';
			font-size: 14px;
			color: #fff;
			text-transform: uppercase;
			box-sizing: border-box;
			padding: 12px 35px;
			border: 2px solid #f3c128;
			border-radius: 6px;
		}
#torg-profit {
	padding-top: 160px;
	background: url(../images/torg-profit.png) no-repeat center bottom;
}
	.trade-account {
		display: block;
		width: 100%;
	}
		.trade-itm {
			display: inline-block;
			vertical-align: top;
			width: 32%;
			margin-top: 80px;
			padding: 30px 0;
			border-radius: 6px;
			box-shadow: 0px 5px 15px 0.16px rgba(0, 0, 1, 0.19);
			margin-right: 1%;
		}
		.trade-itm:last-child {
			margin-right: 0;
		}
		.trade-itm:hover {
			box-shadow: 0px 17px 31.68px 0.32px rgba(0, 0, 1, 0.36);
		}
			.trade-itm h3 {
				font-family: 'Bebas Neue Cyrillic';
				font-size: 48px;
				color: #000;
				text-align: center;
			}
			.trade-itm .trade-itm__type {
				font-family: 'Proxima Nova Semibold';
				font-size: 18px;
				text-transform: uppercase;
				color: #fff;
				text-align: center;
				padding: 10px 0 8px 0;
				margin-top: 20px;
			}
				.standart {
					background: linear-gradient(90deg, #ef3800 0%, #d80303 100%);
				}
				.premium {
					background: linear-gradient(90deg, #ef3700 0%, #d80304 100%);
				}
				.pro {
					background: linear-gradient(90deg, #e93600 0%, #d80304 100%);
				}
			.trade-itm>p {
				font-family: 'Proxima Nova Regular';
				font-size: 14px;
				color: #000;
				text-align: center;
				padding:35px 30px 40px;
			}
			.trade-itm__parameter {
				color: #000;
				padding:30px;
				border-top: 1px #cccccc solid;	
				border-bottom: 1px #cccccc solid;
			}	
				.parameter-itm {
					margin-top: 15px;
				}
				.parameter-itm:first-child {
					margin-top: 0;
				}
				.trade-itm__parameter .parameter-itm p {
					font-family: 'Proxima Nova Regular';
					font-size: 16px;
					display: inline-block;
					float: left;
				}
				.trade-itm__parameter .parameter-itm span{
					display: inline-block;
					font-family: 'Proxima Nova Bold';
					font-size: 18px;
					float: right;
				}
			.trade-itm__btn {
				padding: 30px 30px 0;
				text-align: center;
				font-family: 'Proxima Nova Semibold';
				font-size: 14px;
				box-sizing: border-box;
			}
				.trade-itm__btn .open-btn {
					display: inline-block;
					color: #000;
					float: left;
					box-sizing: border-box;
					padding: 15px 35px;
					text-transform: uppercase;
					border: 2px solid #363636;
					border-radius: 4px;
				}
				.trade-itm__btn .open-btn:hover {
					background: #f3c128;
					border: 2px solid #f3c128;
				}
				.trade-itm__btn .demo-btn {
					display: inline-block;
					color: #000;
					float: right;
					box-sizing: border-box;
					padding: 15px 35px;
					text-transform: uppercase;
					border: 2px solid #f3c128;
					border-radius: 4px;
				}
				.trade-itm__btn .demo-btn:hover {
					color: #fff;
					background: #363636;
					border: 2px solid #363636;
				}
	.profit {
		padding: 160px 0 180px 0;
	}
		.profit>p {
			font-family: 'Proxima Nova Semibold';
			font-size: 20px;
			color: #000;
			text-align: center;
			margin-top: 10px;
		}
#torg-platform {
	padding: 90px 0 60px;
	background: #f1f4f7 url(../images/torg-platform.png) no-repeat center bottom;
}
	.platform {
		display: block;
		width: 100%;
	}
		.platform-meta {
			display: inline-block;
			width: 50%;
			vertical-align: top;
			float: left;
		}
			.meta-trader4 {
				width: 575px;
				border-radius: 5px;
				background: url(../images/meta-trader4-bg.png) no-repeat center top, linear-gradient(135deg, rgba(60,61,97,1) 0%, rgba(28,29,48,1) 100%);
				margin: 70px 0 20px;
			}
			.meta-trader4:hover {
				background: url(../images/meta-trader4-hov-bg.png) no-repeat center top;
			}
				.meta-trader4 a{
					display: block;
					width: 100%;
				}
					.meta-trader4 a p {
						font-family: 'Proxima Nova Bold';
						font-size: 30px;
						color: #fff;
						padding: 104px 0;
						text-align: center;
					}
					.meta-trader4 a p:hover {
						color: #302b22;
					}
						.meta-trader4 a p span {
							color: #f3c128;
						}
						.meta-trader4 a p:hover span {
							color: #433f8d;
						}		
			.meta-trader5 {
				width: 575px;
				border-radius: 5px;
				background: url(../images/meta-trader5-bg.png) no-repeat center top, linear-gradient(135deg, rgba(60,61,97,1) 0%, rgba(28,29,48,1) 100%);
			}
			.meta-trader5:hover {
				background: url(../images/meta-trader5-hov-bg.png) no-repeat center top;
			}
				.meta-trader5 a{
					display: block;
					width: 100%;
				}
					.meta-trader5 a p {
						font-family: 'Proxima Nova Bold';
						font-size: 30px;
						color: #fff;
						padding: 104px 0;
						text-align: center;
					}
					.meta-trader5 a p:hover {
						color: #302b22;
					}
						.meta-trader5 a p span {
							color: #f3c128;
						}
						.meta-trader5 a p:hover span {
							color: #433f8d;
						}
		.platform-dwn {
			display: inline-block;
			width: 50%;
			vertical-align: top;
			margin-left: -5px;
			box-sizing: border-box;
			padding-left: 70px;
			padding-top: 9px;
			float: right;
		}
			.platform-dwn p {
				font-family: 'Proxima Nova Regular';
				font-size: 18px;
				color: #000;
				line-height: 1.8;	
			}
			.platform-dwn p span{
				font-family: 'Proxima Nova Bold';
				color: #000;
			}
				.platform-dwn .download-itm {
					display: inline-block;
					margin-top: 75px;
					margin-bottom: 20px;
					margin-right: 20px;
				}
				.platform-dwn .download-itm:nth-child(2n) {
					margin-right: 0;
				}
				.platform-dwn .download-itm:nth-last-child(-n+2) {
					margin-top: 0;
					margin-bottom: 0;
				}
				.download-itm a {
					display: inline-block;
					width: 244px;
					text-align: center;
					box-sizing: border-box;
					background: #fff;
					padding: 62px 0;
					border-radius: 8px;
				}
					.download-itm a:hover {
						background: #f3c128;
					}
					.download-itm a:hover .fa {
						color: #433f8d;
					}
					.download-windows .fa {
						font-size: 60px;
						color: #000;
					}
					.download-itm a p{
					font-family: 'Proxima Nova Bold';
					font-size: 18px;
					text-transform: uppercase;
					margin-top: 30px;
				}
#fond-market {
	padding: 90px 0 135px;
}
	.benefits {
		display: block;
		width: 100%;
		padding: 110px 0 80px;
	}
		.benefits-itm {
			display: inline-block;
			width: 50%;
			margin-left: -4px;
			vertical-align: top;
			margin-bottom: 60px;
			box-sizing: border-box;
		}
		.benefits-itm:nth-child(2n) {
			padding-left: 20px;
		}
		.benefits-itm:nth-child(3), .benefits-itm:nth-child(4) {
			margin-bottom: 0;
		}
			.benefits-itm__img {
				position: relative;
			}
			.benefits-itm__img:after {
				position: absolute;
				display: inline-block;
				content: '';
				width: 17px;
				height: 17px;
				top: 32px;
				left: 120px;
				background: url(../images/plus-btn-red.png) no-repeat;
			}
			.benefits-itm h4 {
				font-family: 'Proxima Nova Bold';
				font-size: 20px;
				color: #000000;
				padding: 30px 0;
				text-align: left;
			}
			.benefits-itm p {
				font-family: 'Proxima Nova Regular';
				font-size: 16px;
				color: #000000;
				text-align: left;
			}
		.more-platform-btn {
			padding: 17px 25px;
			font-family: 'Proxima Nova Semibold';
			font-size: 16px;
			color: #000;
			text-transform: uppercase;		
			margin-left: -4px;
			background: #f3c128;
			border-radius: 4px;
		}	
#application {
	padding: 80px 0 100px;
	background: #f3f3f3;
}
	.application {
		color: #131313;
		font-size: 14px;
		padding: 95px 0 0 40px;
		box-sizing: border-box;
	}
		.form {
			display: inline-block;
			width: 278px;
			margin-top: 25px;
			vertical-align: top;
		}
		.form-family {
			margin-right: 70px;
		}
			.form p {
				margin-bottom: 8px;
			}
			.form input {
				display: block;
				width: 100%;
				border: none;
				border-radius: 4px;
				height: 32px;
				outline:0;
				box-sizing: border-box;
				padding: 15px;
			}
		.form-email {
			margin-right: 30px;
			position: relative;
		}
			.form-email span {
				position: absolute;
				display: inline-block;
				font-style: italic;
				color: #959595;
				font-size: 11px;
				padding-top: 10px;
			}
		.form-surname {
			margin-right: 70px;
		}	
		.form-phone {
			margin-right: 30px;
			position: relative;
		}
			.form-phone span {
				position: absolute;
				display: inline-block;
				font-style: italic;
				color: #959595;
				font-size: 11px;
				padding-top: 10px;
			}
		.i-confirm {
			margin-top: 105px;
		}
			.i-confirm a {
				text-decoration: underline;
				color: #131313;
			}
		.next-step {
			display: inline-block;
			font-size: 14px;
			color: #fff;
			padding: 10px;
			background: #7b7b7b;
			border-radius: 4px;
			margin-top: 30px;
		}
footer {
	padding: 30px;
	background: #1c1d30;
}
footer p {
	color: #fff;
	text-align: center;

}			


@media screen and (max-width: 1170px) {
	.container {
		max-width: 90%;
		margin: 0 auto;
	}
		#spec-offer h2 {
		width: 41%;
		padding-left: 0;
	}
	.card {
		margin-left: 60px;
	}
	.trade-itm__btn .open-btn {
		padding: 15px 25px;
	}
	.trade-itm__btn .demo-btn {
		padding: 15px 28px;
	}
	.platform-meta {
		width: 52%;
	}
		.platform-meta .meta-trader4, .platform-meta .meta-trader5 {
			width: 100%;
		}
	.platform-dwn {
		width: 48%;
		padding-left: 19px;

	}
	.download-itm a {
		width: 230px;
	}
}
@media screen and (max-width: 1143px) {
	.privilege {
		width: 60%;
	}
	.privilege-block {
		width: 501px;
	}
	.vip {
		width: 40%;
		padding-left: 0;
	}
	.privilege-block-itm {
		width: 240px;
		padding-left: 20px;
	}

}
@media screen and (max-width: 1024px) {
	.trade-itm__btn .open-btn {
		padding: 15px 18px;
	}
	.trade-itm__btn .demo-btn {
		padding: 15px 18px;
	}
	.platform-meta {
		width: 59%;
	}
		.platform-meta .meta-trader4, .platform-meta .meta-trader5 {
			width: 100%;
		}
	.platform-dwn {
		width: 41%;
		padding-left: 15px;

	}
	.platform-dwn .download-itm {
		margin-top: 44px;
	}
	.download-itm a {
		width: 169px;
	}
	.previleg-item__img:after {
		width: 55px;
	}
	.form-email2 {
		margin-right: 70px;
	}
	.form-email2, .form-name {
		margin-top: 70px;
	}

}

