@import 'reset';
@import 'paterns';

body {
	width: 100%;
	height: 100%;
	color: #000000;
	font-size: 20px;
	/*font-family: 'Amatic SC', cursive;*/
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	line-height: 1;
	color: #444;
}
#wrapper {
	display: block;
	position: relative;
	width: 100%;
	min-width: 320px;
	max-width: 1920px;
	margin: 0 auto;	
	overflow: hidden;
}
h1 {
	font-size: 50px;
}
h2 {
	font-size: 50px;
}
h3 {
	font-size: 30px;
}
header {
	background: url("../images/header-bg.jpg") no-repeat center top;
	padding-bottom: 550px;
}
.header-top {
	padding-top: 10px;
	&-text {
		display: inline-block;
		font-size: 30px;
		p {
			font-family: 'Amatic SC', cursive; 
			display: inline-block;
			color: #3d3089;
			vertical-align: middle;
			span {
				color: #e41984;
			}
		}
	}
	img.soun {
		display: inline-block;
		margin: 0 20px 0 68px;
	}
}
.info {
	font-family: 'Amatic SC', cursive;
    font-size: 30px;
	padding-top: 17px;
	text-align: right;
	.email {
		display: inline-block;
		color: #312684;
		margin-bottom: 6px;
		position: relative;
		&::after {
			position: absolute;
			display: block;
			content: '';
			top: 7px;
			left: -43px;
			width: 29px;
			height: 19px;
			background: url("../images/email-img.png") no-repeat center top;
		}
	}
	a.phone {
		display: inline-block;
		color: #e41984;
		position: relative;
		&::after {
			position: absolute;
			display: block;
			content: '';
			top: 1px;
			left: -55px;
			width: 29px;
			height: 29px;
			background: url("../images/phone.png") no-repeat center top;
		}
		&:focus {
			text-decoration: none;
		}
	}
}
.header-main {
	padding-top: 130px;
	h1 {
		font-family: 'Amatic SC', cursive;
		color: #333;
		margin-bottom: 20px;
	}
	p {
		line-height: 1.3;
		span.price {
			font-weight: 700;
			color: #3d3089;
		}		
	}
}
span.my {
	color: #e42387;
}
span.joy {
	color: #3d3089;
}
.advantage {
	padding: 78px 0;
	background: url("../images/advantage-bg.jpg") no-repeat center top;
	&-box {
		display: block;
		margin-bottom: 20px;
		&:last-child {
			margin-bottom: 0;
		}
	}
	h2 {
		font-family: 'Amatic SC', cursive;
		text-align: center;
		color: #fff;
		margin-bottom: 30px;
	}
	&-itm {
		text-align: center;
		&__img {
			margin-bottom: 20px;
			img {
				margin: 0 auto;
			}
		}
		&__title {
			font-family: 'Amatic SC', cursive;
			color: #fecc00;
			text-transform: uppercase;
			margin-bottom: 15px;
		}
		&__description {
			color: #fff;
			line-height: 1.3;;
		}		
	}
}
.order {
	padding: 70px 0 34px;
	background: url("../images/order-bg.jpg") no-repeat center top;
	background-size: cover;
	.present {
		img {
			width: 100%;
		}
	}
	&-text {
		font-family: 'Amatic SC', cursive;
		font-size: 50px;
		padding: 65px 30px 0;
		span {
			color: #e42387;
		}
	}
	&-form {
		padding: 30px;
		background: #fff;
		@include border-radius (50px);
		box-shadow: 0px 0px 34px 0px rgba(0, 0, 0, 0.14);
		text-align: center;
		p {
			padding: 0 20px;
			font-family: 'Amatic SC', cursive;
			color: #3d3089;
			font-size: 30px;
			margin-bottom: 25px;
		}
		&__input {
			width: 100%;
			@extend %box-sizing;
			background: #faf4f8;
			border: none;
			margin-bottom: 15px;
  			box-shadow: inset 0.5px 0.866px 1px 0px rgba(0, 0, 0, 0.27);
  			outline: none;
  			font-size: 13px;
  			padding: 8px;
  			@include border-radius(17px);
		}
		&__btn {
			width: 100%;
			color: #fff;
			font-size: 18px;
			text-transform: uppercase;
			font-weight: 700;
			border: none;
			outline: none; 
			padding: 8px 0;
			@include border-radius(17px);
			background-image: -moz-linear-gradient( 90deg, rgb(153,31,94) 0%, rgb(228,35,135) 100%);
			background-image: -webkit-linear-gradient( 90deg, rgb(153,31,94) 0%, rgb(228,35,135) 100%);
			background-image: -ms-linear-gradient( 90deg, rgb(153,31,94) 0%, rgb(228,35,135) 100%);
		}
	}
}
.guarantees {
	padding: 95px 0;
	background: url("../images/guarantes-bg.jpg") no-repeat center top;
	background-size: cover;
	h2 {
		font-family: 'Amatic SC', cursive;
		color: #fff;
		text-transform: uppercase;
		text-align: center;
		margin-bottom: 45px;
	}
	&-itm {
		text-align: center;
		&__img {
			margin-bottom: 25px;
			img {
				margin: 0 auto;
			}
		}
		&__text {
			color: #fff;
			line-height: 1.2;
		}
	}
}
.features {
	padding: 83px 0;
	background: url("../images/features.jpg") no-repeat center top;
	img.pampers {
		width: 100%;
		margin: 0 auto;
	}
	&-right {
		text-align: left;
	}
	&-left {
		text-align: right;
	}
	&-itm {
		h3 {
			font-family: 'Amatic SC', cursive;
			color: #3d3089;
			text-transform: uppercase;
			margin-bottom: 10px;
		}
		p {
			line-height: 1.3;
		}
	}
	&-1 {
		margin-right: -30px;
		position: relative;
		z-index: 2;
		&:before {
			display: block;
			width: 106px;
			height: 300px;
			position: absolute;
			top: 11px;
			right: -98px;
			content: '';
			background: url("../images/features-1-icon.png") no-repeat center top;
		}
	}
	&-2 {
		position: relative;
		z-index: 2;
		&:before {
			display: block;
			width: 222px;
			height: 296px;
			position: absolute;
			top: 11px;
			left: -228px;
			content: '';
			background: url("../images/features-2-icon.png") no-repeat center top;
		}
	}
	&-3 {
		position: relative;
		z-index: 2;
		margin-top: 40px;
		&:before {
			display: block;
			width: 120px;
			height: 144px;
			position: absolute;
			top: 11px;
			left: -131px;
			content: '';
			background: url("../images/features-3-icon.png") no-repeat center top;
		}
	}
	&-4 {
		position: relative;
		z-index: 2;
		margin-top: -40px;
		margin-right: -30px;
		&:before {
			display: block;
			width: 60px;
			height: 161px;
			position: absolute;
			top: -139px;
			right: 85px;
			content: '';
			background: url("../images/features-4-icon.png") no-repeat center top;
		}
	}
	&-5 {
		position: relative;
		z-index: 2;
		margin-top: -35px;
		margin-left: -30px;
		&:before {
			display: block;
			width: 62px;
			height: 162px;
			position: absolute;
			top: -140px;
			left: -50px;
			content: '';
			background: url("../images/features-5-icon.png") no-repeat center top;
		}
	}
}
.products {
	padding: 80px 0;
	background: url("../images/product.jpg") no-repeat center top;
	h2 {
		font-family: 'Amatic SC', cursive;
		color: #fff;
		text-transform: uppercase;
		text-align: center;
		margin-bottom: 50px;
	}
}
.product {
	display: block;
	margin-bottom: 30px;
	&:last-child {
		margin-bottom: 0;
	}	
	&-itm {
		display: inline-block;
		padding: 20px 0;
		background: #fff;
		@include border-radius(35px);
	}
	&-name {
		font-family: 'Amatic SC', cursive;
		color: #3d3089;
		margin-bottom: 15px;
		text-transform: uppercase;
	}
	&-descript {
		font-size: 14px;
		font-weight: 400;
		line-height: 1.3;
		margin-bottom: 70px;
	}	
	&-img {
		img {
			width: 100%;
			margin: 0 auto;
		}
	}
	&-price {
		display: block;
		font-family: 'Amatic SC', cursive;
		font-size: 30px;			
		color: #e42387;
		text-align: right;
	}
	&-btn {
		display: block;
		margin: 0 auto;
		font-size: 18px;
		color: #fff;
		font-weight: 700;
		text-transform: uppercase;
		border: none;
		outline: none;
		padding: 7px 40px;
		@include border-radius(17px);
	    background-image: -webkit-linear-gradient(left, rgb(153,31,94) 0%, rgb(228,35,135) 100%);
	    background-image: -o-linear-gradient(left, rgb(153,31,94) 0%, rgb(228,35,135) 100%);
	    background-image: linear-gradient(to right, rgb(153,31,94) 0%, rgb(228,35,135) 100%);
	}
}
.privilege {
	padding: 100px 0 249px;
	background: url("../images/privilege-bg.jpg") no-repeat center top;
	background-size: cover;
	h2 {
		font-family: 'Amatic SC', cursive;		
		color: #3d3089;
		margin-bottom: 40px;
	}
	&-list {
		margin-bottom: 25px;
		&-icon {
			float: left;
			img {
				margin: 0 auto;
			}
		}
		&-text {
			margin-left: 86px;
			text-align: left;
			h3 {
				font-family: 'Amatic SC', cursive;
				color: #3d3089;
				margin-bottom: 12px;
				text-transform: uppercase;
			}
			p {
				font-weight: 400;
				line-height: 1.3;
			}
		}
	}
}
.how-we-work {
	text-align: center;
	padding: 70px 0 108px;	
	background: url("../images/how-we-work-bg.jpg") no-repeat center top;
	background-size: cover;
	h2 {
		font-family: 'Amatic SC', cursive;
		color: #fff;
		text-align: center;
		text-transform: uppercase;
		margin-bottom: 90px;
	}
	button {
		font-size: 18px;
		border: none;
		outline: none;
		background: none;
		font-weight: 700;
		color: #3d3089;
		text-transform: uppercase;
		padding: 10px 62px;
		@include border-radius(20px);
		background-image: -webkit-linear-gradient(left, rgb(228,35,135) 0%, rgb(254,204,0) 100%);
		background-image: -o-linear-gradient(left, rgb(228,35,135) 0%, rgb(254,204,0) 100%);
		background-image: linear-gradient(to right, rgb(228,35,135) 0%, rgb(254,204,0) 100%);
		box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.37);
	}			
}
.step-work {
	margin-bottom: 40px;
	.step {
		&-1 {
			position: relative;
			&:before {
				display: block;
				width: 232px;
				height: 117px;
				position: absolute;
				top: 43px;
				right: -159px;
				content: '';
				background: url("../images/step-line-1.png") no-repeat center top;
				background-size: cover;
			}
		}
		&-2 {
			position: relative;
			margin-top: 155px;
			&:before {
				display: block;
				width: 199px;
				height: 247px;
				position: absolute;
				top: -188px;
				right: -126px;
				content: '';
				background: url("../images/step-line-2.png") no-repeat center top;
				background-size: cover;
			}
		}
		&-3 {
			margin-top: -65px;
			position: relative;
			&:before {
				display: block;
				width: 219px;
				height: 30px;
				position: absolute;
				top: 45px;
    			right: -146px;
				content: '';
				background: url("../images/step-line-1.png") no-repeat center top;
				background-size: cover;
			}
		}
		&-number {
			display: inline-block;
			width: 120px;
			height: 120px;
			@include border-radius(60px);
			border: 5px solid #fecc00;
			font-family: 'Amatic SC', cursive;
			font-size: 80px;
			color: #fecc00;
			margin-bottom: 23px;
			line-height: 110px;
			text-align: center;
		}
		&-text {
			font-family: 'Amatic SC', cursive;
			color: #fff;
			font-size: 30px;
			text-transform: uppercase;
			line-height: 1.2;
		}
	}
}
.personal-experience {
	padding: 10px 0 16px;
	background: url("../images/personal-experience-bg.jpg") no-repeat center top;
	background-size: cover;
	h2 {
		font-family: 'Amatic SC', cursive;
		color: #3d3089;
		text-transform: uppercase;
		margin: 0 0 30px 90px;
	}
	p {
		margin-bottom: 8px;
		line-height: 1.3;
		&:last-child {
			font-style: italic;
			color: #3d3089;
			font-weight: 600;
		}
	}
	span.italic {
		font-style: italic;
	}
}
.reviews {
	padding: 60px 0 128px;
	background: url("../images/reviews-bg.jpg") no-repeat center top;
	background-size: cover;
	text-align: center;
	h2 {
		font-family: 'Amatic SC', cursive;
		color: #fff;
		text-transform: uppercase;
		margin-bottom: 40px;		
	}
	.slider {
		background: #fff;
		padding: 50px 0 100px;
		@include border-radius(50px);
		&-itm {
			outline: none;
			padding: 0 60px;
			.user-photo {
				margin-bottom: 35px;
				img {
					border: 1px solid #efefef;
					@include border-radius(2px);
					margin: 0 auto;				}
			}
			.user-text {
				font-style: italic;
				font-weight: 300;
				line-height: 1.3;
				p {
					margin-bottom: 5px;
				}
			}
		}
	}
	.slick-dotted.slick-slider {
		margin-bottom: 0;
	}
	.slick-dots {
		bottom: 40px;
		li {
			width: 10px;
			height: 10px;
			button {
				width: 10px;
				height: 10px;
				&:before {
					color: #d0ccbf;
					opacity: 1;
					width: 10px;
					height: 10px;
					line-height: 10px;
					font-size: 10px;
				}
			}
			&.slick-active {
				button {
					&:before {
						color: #3d3089;
						opacity: 1; 						
					}
				}
			}
		}
	}
}
.questions {
	padding: 100px 0 100px;
	background: url("../images/questions-bg.jpg") no-repeat center top;
}
.panel-group {
	margin-bottom: 0;
	padding: 40px 68px;
	background: #fff;
	@include border-radius(40px);
	.panel-heading+.panel-collapse > {
		.panel-body {
			border: none;
		}
	}
	h2 {
		font-family: 'Amatic SC', cursive;
		color: #3d3089;
		text-transform: uppercase;
		text-align: center;
		margin-bottom: 38px;
	}
	.panel {
		margin-bottom: 22px;
		&:last-child {
			margin-bottom: 0;
		}
	}
	.panel+.panel {
		margin-top: 0;
	}
}
.panel {
	border: none;
	box-shadow: none;
	&-heading {
		position: relative;
		padding: 0;
		a {
			&:after {
				display: block;
				content: '+';
				position: absolute;
				top: 50%;
			    transform: translateY(-50%);
			    left: -26px;
			    text-align: center;
			    font-size: 32px;
			    color: #fff;
			    border: 2px solid #e42387;
			    background: #e42387;
			    line-height: 11px;
			    width: 20px;
			    height: 20px;
			    border-radius: 50%;
			    transition:all 0.1s ease-in-out;
			}
			&[aria-expanded="true"] {
				&:after {
				display: block;
				content: '-';
				position: absolute;
				top: 50%;
			    transform: translateY(-50%);
			    left: -26px;
			    text-align: center;
			    font-size: 38px;
			    color: #e42387;
			    border: 2px solid #e42387;
			    line-height: 12px;
			    width: 20px;
			    height: 20px;
			    border-radius: 50%;	
			    background: #fff;
			    transition:all 0.1s ease-in-out;				
				}
			}
		}
	}
	&-default>&-heading {
		background: none;
	}
	&-title {
		text-decoration: none;
		> a {
			font-size: 30px;
			font-family: 'Amatic SC', cursive;
			text-transform: uppercase;
			color: #3d3089;
			text-decoration: none;
		}
	}
	&-body {
		padding: 15px 0 13px;
		font-weight: 300;
	}
}
footer {
	padding: 40px 0;
	background-image: -webkit-linear-gradient(bottom left, rgb(183,171,255) 0%, rgb(255,152,205) 50%, rgb(255,235,154) 100%);
	background-image: -o-linear-gradient(bottom left, rgb(183,171,255) 0%, rgb(255,152,205) 50%, rgb(255,235,154) 100%);
	background-image: linear-gradient(to top right, rgb(183,171,255) 0%, rgb(255,152,205) 50%, rgb(255,235,154) 100%);
	.info {
		padding-top: 32px;
		a.phone {
			display: block;
			margin-bottom: 6px;
		}
		.email {
			display: block;
			color: #e41984;
			margin-bottom: 0;
		}
		a.phone:after, .email:after {
			display: none;
		}
	}	
}
/*************************************************************************/
@media screen and (min-width: 320px) and (max-width: 359px) {
	body {
		font-size: 12px;
	}
	h1 {
		font-size: 36px;
	}
	h2 {
		font-size: 32px;
	}
	h3 {
		font-size: 23px;
	}
	header {
		background-size: cover;
		padding-bottom: 291px;
	}
	.header-top {	
	}
	.logo {
		a > img {
			width: 100%;
		}
	}
	.info {
		font-size: 20px;
    	padding-top: 15px;
    	.email {
    		&:after {
    			width: 23px;
   				height: 15px;
   				top: 4px;
    			left: -30px;
    			background-size: cover;
    		}
    	}
    	a.phone {
    		&:after {
    			top: 2px;
				left: -33px;
				width: 19px;
				height: 18px;
			    background-size: cover;
    		}
    	}
	}
	.header-main {
		padding-top: 60px;
		h1 {
			text-align: left;
			margin-bottom: 15px;
		}
		p {
			width: 80%;
		}
	}
	.advantage {
		padding: 40px 0;
		background-size: cover;
		h2 {
			margin-bottom: 35px;
		}
		&-box {
			margin-bottom: 0;
		}
		&-itm {
			text-align: center;
			margin-bottom: 20px;
			&__img {
				width: 95px;
				margin: 0 auto 10px;
				img {
					margin: 0 auto;
					width: 100%;
				}
			}
			&__title {
				margin-bottom: 4px;
			}	
		}
	}
	.order { 
		padding: 60px 0;
		.present {
			width: 150px;
			margin: 0 auto;
			margin-top: 5px;
		}
		&-text {
			margin-left: -15px;
			font-size: 24px;
			padding: 33px 0 0;
			p {
				br {
					display: none;
				}
			}
		}
		&-form {
			margin: 25px 5% 0;
			padding: 30px;
			@include border-radius (50px);
			p {
				font-size: 25px;
				margin-bottom: 25px;
			}
			&__input {
				width: 100%;
				margin-bottom: 15px;
	  			font-size: 13px;
	  			padding: 8px 15px;
	  			@include border-radius(17px);
			}
			&__btn {
				font-size: 13px;
				padding: 10px 0;
				@include border-radius(17px);
			}
		}
	}
	.guarantees {
		padding: 65px 0;
		background-size: cover;
		h2 {
			margin-bottom: 35px;
		}
		&-itm {
			text-align: center;
			margin-bottom: 15px;
			padding: 0 5%;
			&__img {
				width: 95px;
				margin: 0 auto 10px;
				img {
					width: 100%;
					margin: 0 auto;
				}
			}
			&__text {
				color: #fff;
				line-height: 1.2;
			}
		}
	}
	.features {
		padding: 65px 0 60px;
		background-size: cover;
		&-itm {
			text-align: center;	
			h3 {
				font-size: 25px;
				margin-bottom: 5px;
			}
			p {
				line-height: 1.2;
				font-size: 13px;
			}
		}
		&-1, &-2, &-3, &-4, &-5 {
			margin: 0 0 20px;
			&:before {
				display: none;
			}
		}
	}
	.products {
		padding: 60px 0;
		background-size: cover;
		h2 {
			margin-bottom: 30px;
		}
	}
	.product {
		margin-bottom: 0;
		&-itm {
			margin-bottom: 15px;
		}	
		&-name {
			text-align: center;
			font-size: 22px;
			margin: 0 0 10px;
		}
		&-descript {
			font-size: 12px;
			text-align: center;
			margin: 0 0 11px 0;
		}	
		&-img {
			padding: 0 15%;
			margin-bottom: 20px;
		}
		&-price {
			font-size: 28px;
			padding-top: 1px;
			text-align: right;			
		}
		&-btn {
			width: 100%;
			font-size: 14px;
			padding: 8px 10px;
			margin-left: -15px;
			@include border-radius(15px);
		}
	}
	.privilege {
		padding: 75px 0;
		h2 {
			text-align: center;
		}
		&-list {
			display: block;
			margin-bottom: 20px;
			text-align: center;
			&-icon {
				display: block;
				float: none;
				margin-bottom: 5px;
			}
			&-text {
				display: block;
				font-size: 13px;
				margin-left: 0;
				text-align: center;
				h3 {
					margin-bottom: 5px;
				}
			}
		}
	}
	.how-we-work {
		padding: 70px 0 120px;	
		h2 {
			margin-bottom: 40px;
		}
		button {
			font-size: 15px;
			padding: 10px 50px;
			@include border-radius(18px);
		}			
	}
	.step-work {
		margin-bottom: 10px;
		.step {
			&-1, &-2, &-3, &-4  {
				margin: 0 0 40px;
				&:before {
					display: none;
				}
			}

			&-number {
				width: 100px;
				height: 100px;
				@include border-radius(50px);
				font-size: 50px;
				margin-bottom: 15px;
				line-height: 90px;
			}
			&-text {
				font-size: 22px;
			}
		}
	}
	.personal-experience {
		padding: 20px 0 65px;
		h2 {
			margin: 0 0 25px;
			text-align: center;
		}
		p {
			margin-bottom: 4px;
			line-height: 1.2;
		}
	}
	.reviews {
		padding: 60px 0 50px;
		h2 {
			margin-bottom: 30px;		
		}
		.slider {
			padding: 40px 0;
			@include border-radius(50px);
			&-itm {
				padding: 0 20px;
				.user-photo {
					width: 120px;
					margin: 0 auto;
					margin-bottom: 20px;
					img {
						width: 100%;
					}
				}
				.user-text {
					line-height: 1.2;
					p {
						font-size: 13px;
						margin-bottom: 3px;
					}
				}
			}
		}
		.slick-dots {
			bottom: 20px;
		}
	}
	.questions {
		padding: 80px 0 70px;
	}
	.panel {
		&-group {
			padding: 40px 35px;
		}
		&-title {
			> a {
				font-size: 20px;
			}
		}
		&-body {
			padding: 15px 0 0;
		}
	}
	footer {
		padding: 30px 0 40px;
	}
}
@media screen and (min-width: 360px) and (max-width: 479px) {
	body {
		font-size: 13px;
	}
	h1 {
		font-size: 38px;
	}
	h2 {
		font-size: 38px;
	}
	h3 {
		font-size: 30px;
	}
	header {
		background-size: cover;
		padding-bottom: 285px;
	}
	.header-top {	
	}
	.logo {
		a > img {
			width: 120px;
		}
	}
	.info {
		font-size: 24px;
    	padding-top: 15px;
    	.email {
    		display: inline-block;
    		&:after {
    			width: 23px;
   				height: 15px;
    			top: 5px;
    			left: -31px;
    			background-size: cover;
    		}
    	}
    	a.phone {
    		display: inline-block;
    		&:after {
				top: 4px;
				width: 19px;
				height: 18px;
				left: -33px;
			    background-size: cover;
    		}
    	}
	}
	.header-main {
		padding-top: 70px;
		h1 {
			text-align: left;
			margin-bottom: 15px;
		}
		p {
			font-size: 14px;
			width: 300px;
		}
	}
	.advantage {
		padding: 40px 0;
		background-size: cover;
		h2 {
			margin-bottom: 35px;
		}
		&-box {
			margin-bottom: 0;
		}
		&-itm {
			text-align: center;
			margin-bottom: 20px;
			padding: 0 8%;
			&__img {
				width: 95px;
				margin: 0 auto 10px;
				img {
					margin: 0 auto;
					width: 100%;
				}
			}
			&__title {
				margin-bottom: 4px;
			}	
		}
	}
	.order { 
		padding: 60px 0;
		.present {
			width: 150px;
			margin: 0 auto;
			margin-top: 5px;
		}
		&-text {
			margin-left: -15px;
			font-size: 29px;
			padding: 33px 0 0;
			p {
				br {
					display: none;
				}
			}
		}
		&-form {
			margin: 25px 5% 0;
			padding: 30px;
			@include border-radius (50px);
			p {
				font-size: 25px;
				margin-bottom: 25px;
			}
			&__input {
				width: 80%;
				margin-bottom: 15px;
	  			font-size: 13px;
	  			padding: 8px 15px;
	  			@include border-radius(17px);
			}
			&__btn {
				width: 80%;
				font-size: 13px;
				padding: 10px 0;
				@include border-radius(17px);
			}
		}
	}
	.guarantees {
		padding: 65px 0;
		background-size: cover;
		h2 {
			margin-bottom: 35px;
		}
		&-itm {
			text-align: center;
			margin-bottom: 15px;
			padding: 0 8%;
			&__img {
				width: 95px;
				margin: 0 auto 10px;
				img {
					width: 100%;
					margin: 0 auto;
				}
			}
			&__text {
				color: #fff;
				line-height: 1.2;
			}
		}
	}
	.features {
		padding: 65px 5% 45px;
		background-size: cover;
		&-itm {
			text-align: center;	
			h3 {
				margin-bottom: 5px;
			}
			p {
				line-height: 1.2;
				font-size: 13px;
			}
		}
		&-1, &-2, &-3, &-4, &-5 {
			margin: 0 0 20px;
			&:before {
				display: none;
			}
		}
	}
	.products {
		padding: 60px 5%;
		background-size: cover;
		h2 {
			margin-bottom: 30px;
		}
	}
	.product {
		margin-bottom: 0;
		&-itm {
			margin-bottom: 15px;
		}	
		&-name {
			text-align: center;
			font-size: 25px;
			margin: 0 0 10px;
		}
		&-descript {
			font-size: 13px;
			text-align: center;
			margin: 0 0 11px 0;
		}	
		&-img {
			padding: 0 15%;
			margin-bottom: 20px;
		}
		&-price {
			font-size: 28px;
			padding-top: 1px;
			text-align: right;			
		}
		&-btn {
			width: 100%;
			font-size: 14px;
			padding: 8px 10px;
			margin-left: -15px;
			@include border-radius(15px);
		}
	}
	.privilege {
		padding: 75px 0;
		h2 {
			text-align: center;
		}
		&-list {
			display: block;
			margin-bottom: 20px;
			text-align: center;
			&-icon {
				display: block;
				float: none;
				margin-bottom: 5px;
			}
			&-text {
				display: block;
				font-size: 13px;
				margin-left: 0;
				text-align: center;
				h3 {
					margin-bottom: 5px;
				}
			}
		}
	}
	.how-we-work {
		padding: 70px 0 120px;	
		h2 {
			margin-bottom: 40px;
		}
		button {
			font-size: 15px;
			padding: 10px 50px;
			@include border-radius(18px);
		}			
	}
	.step-work {
		margin-bottom: 10px;
		.step {
			&-1, &-2, &-3, &-4  {
				margin: 0 0 40px;
				&:before {
					display: none;
				}
			}

			&-number {
				width: 100px;
				height: 100px;
				@include border-radius(50px);
				font-size: 50px;
				margin-bottom: 15px;
				line-height: 90px;
			}
			&-text {
				font-size: 22px;
			}
		}
	}
	.personal-experience {
		padding: 15px 0 65px;
		h2 {
			text-align: center;
			margin: 0 0 25px;
		}
		p {
			margin-bottom: 4px;
			line-height: 1.2;
		}
	}
	.reviews {
		padding: 60px 0 60px;
		h2 {
			margin-bottom: 30px;		
		}
		.slider {
			padding: 40px 0;
			@include border-radius(50px);
			&-itm {
				padding: 0 20px;
				.user-photo {
					width: 120px;
					margin: 0 auto;
					margin-bottom: 20px;
					img {
						width: 100%;
					}
				}
				.user-text {
					line-height: 1.2;
					p {
						font-size: 14px;
						margin-bottom: 3px;
					}
				}
			}
		}
		.slick-dots {
			bottom: 20px;
		}
	}
	.questions {
		padding: 80px 0 70px;
	}
	.panel {
		&-group {
			padding: 40px 35px;
		}
		&-title {
			> a {
				font-size: 23px;
			}
		}
		&-body {
			padding: 15px 0 0;
			font-size: 14px;
		}
	}
	footer {
		padding: 30px 0 40px;	
		.info {
			padding-top: 18px;
		}
	}
}
@media screen and (min-width: 480px) and (max-width: 639px) {
	body {
		font-size: 14px;
	}
	h1 {
		font-size: 46px;
	}
	h2 {
		font-size: 42px;
	}
	h3 {
		font-size: 30px;
	}
	header {
		background-size: cover;
    	padding-bottom: 374px;;
	}
	.header-top {	
	}
	.logo {
		a > img {
			width: 100%;
		}
	}
	.info {
		font-size: 26px;
    	padding-top: 28px;
    	.email {
    		display: inline-block;
    		&:after {
				width: 25px;
				height: 16px;
				top: 7px;
    			left: -31px;
    			background-size: cover;
    		}
    	}
    	a.phone {
    		display: inline-block;
    		&:after {
				top: 4px;
				width: 23px;
    			height: 22px;
				left: -33px;
			    background-size: cover;
    		}
    	}
	}
	.header-main {
		padding-top: 116px;
		h1 {
			text-align: left;
			margin-bottom: 15px;
		}
		p {
			font-size: 14px;
			width: 300px;
		}
	}
	.advantage {
		padding: 40px 0;
		background-size: cover;
		h2 {
			margin-bottom: 35px;
		}
		&-box {
			margin-bottom: 0;
		}
		&-itm {
			text-align: center;
			margin-bottom: 20px;
			padding: 0 8%;
			&__img {
				width: 95px;
				margin: 0 auto 10px;
				img {
					margin: 0 auto;
					width: 100%;
				}
			}
			&__title {
				margin-bottom: 4px;
			}	
		}
	}
	.order { 
		padding: 60px 0;
		.present {
			width: 200px;
			margin: 0 auto;
			margin-top: 5px;
		}
		&-text {
			margin-left: -15px;
			font-size: 37px;
			padding: 48px 0 0;
			p {
				br {
					display: none;
				}
			}
		}
		&-form {
			margin: 25px 15% 0;
			padding: 30px;
			@include border-radius (50px);
			p {
				font-size: 28px;
				margin-bottom: 25px;
			}
			&__input {
				width: 80%;
				margin-bottom: 15px;
	  			font-size: 13px;
	  			padding: 8px 15px;
	  			@include border-radius(17px);
			}
			&__btn {
				width: 70%;
				font-size: 15px;
				padding: 11px 0;
				@include border-radius(18px);
			}
		}
	}
	.guarantees {
		padding: 65px 0;
		background-size: cover;
		h2 {
			margin-bottom: 35px;
		}
		&-itm {
			text-align: center;
			margin-bottom: 20px;
			padding: 0 12%;
			&__img {
				width: 95px;
				margin: 0 auto 10px;
				img {
					width: 100%;
					margin: 0 auto;
				}
			}
			&__text {
				color: #fff;
				line-height: 1.2;
			}
		}
	}
	.features {
		padding: 65px 12% 60px;
		background-size: cover;
		&-itm {
			text-align: center;	
			h3 {
				margin-bottom: 5px;
			}
			p {
				line-height: 1.2;
			}
		}
		&-1, &-2, &-3, &-4, &-5 {
			margin: 0 0 20px;
			&:before {
				display: none;
			}
		}
	}
	.products {
		padding: 60px 12%;
		background-size: cover;
		h2 {
			margin-bottom: 30px;
		}
	}
	.product {
		margin-bottom: 0;
		&-itm {
			margin-bottom: 15px;
		}	
		&-name {
			text-align: center;
			font-size: 28px;
			margin: 0 0 10px;
		}
		&-descript {
			font-size: 13px;
			text-align: center;
			margin: 0 0 11px 0;
		}	
		&-img {
			padding: 0 18%;
			margin-bottom: 20px;
		}
		&-price {
			font-size: 29px;
			padding-top: 1px;
			text-align: right;			
		}
		&-btn {
			width: 100%;
			font-size: 15px;
			padding: 8px 10px;
			margin-left: 0;
			@include border-radius(15px);
		}
	}
	.privilege {
		padding: 75px 0;
		h2 {
			text-align: center;
		}
		&-list {
			display: block;
			margin-bottom: 20px;
			text-align: center;
			&-icon {
				display: block;
				float: none;
				margin-bottom: 5px;
			}
			&-text {
				display: block;
				font-size: 14px;
				margin-left: 0;
				text-align: center;
				h3 {
					margin-bottom: 5px;
				}
			}
		}
	}
	.how-we-work {
		padding: 70px 0 120px;	
		h2 {
			margin-bottom: 40px;
		}
		button {
			font-size: 16px;
			padding: 10px 50px;
			@include border-radius(18px);
		}			
	}
	.step-work {
		margin-bottom: 10px;
		.step {
			padding: 0 12%;
			&-1, &-2, &-3, &-4  {
				margin: 0 0 40px;
				&:before {
					display: none;
				}
			}

			&-number {
				width: 100px;
				height: 100px;
				@include border-radius(50px);
				font-size: 50px;
				margin-bottom: 15px;
				line-height: 90px;
			}
			&-text {
				font-size: 22px;
			}
		}
	}
	.personal-experience {
		padding: 25px 0 65px 30%;
		h2 {
			margin: 0 0 30px;
			text-align: center;
		}
		p {
			margin-bottom: 4px;
			line-height: 1.2;
		}
	}
	.reviews {
		padding: 60px 0 60px;
		h2 {
			margin-bottom: 30px;		
		}
		.slider {
			margin: 0 5%;
			padding: 40px 0;
			@include border-radius(50px);
			&-itm {
				padding: 0 20px;
				.user-photo {
					width: 120px;
					margin: 0 auto;
					margin-bottom: 20px;
					img {
						width: 100%;
					}
				}
				.user-text {
					line-height: 1.2;
					p {
						font-size: 14px;
						margin-bottom: 3px;
					}
				}
			}
		}
		.slick-dots {
			bottom: 20px;
		}
	}
	.questions {
		padding: 80px 0 70px;
	}
	.panel {
		&-group {
			padding: 40px 50px;
		}
		&-title {
			> a {
				font-size: 25px;
			}
		}
		&-body {
			padding: 15px 0 0;
			font-size: 14px;
		}
	}
	footer {
		padding: 30px 0 40px;	
		.info {
			padding-top: 30px;
		}
	}
}
@media screen and (min-width: 640px) and (max-width: 767px) {
	body {
		font-size: 15px;
	}
	h1 {
		font-size: 44px;
	}
	h2 {
		font-size: 42px;
	}
	h3 {
		font-size: 32px;
	}
	header {
		background-size: cover;
    	padding-bottom: 374px;;
	}
	.header-top {	
	}
	.logo {
		a > img {
			width: 100%;
		}
	}
	.info {
		font-size: 28px;
    	padding-top: 28px;
    	.email {
    		display: inline-block;
    		&:after {
				width: 25px;
				height: 16px;
				top: 7px;
    			left: -31px;
    			background-size: cover;
    		}
    	}
    	a.phone {
    		display: inline-block;
    		&:after {
				top: 4px;
				width: 23px;
    			height: 22px;
				left: -33px;
			    background-size: cover;
    		}
    	}
	}
	.header-main {
		padding-top: 116px;
		h1 {
			text-align: left;
			margin-bottom: 15px;
		}
		p {
			font-size: 14px;
			width: 330px;
		}
	}
	.advantage {
		padding: 70px 0;
		background-size: cover;
		h2 {
			margin-bottom: 35px;
		}
		&-box {
			margin-bottom: 0;
		}
		&-itm {
			text-align: center;
			margin-bottom: 35px;
			padding: 0 12%;
			&__img {
				width: auto;
				margin: 0 auto 10px;
				img {
					margin: 0 auto;
				}
			}
			&__title {
				margin-bottom: 6px;
			}	
		}
	}
	.order { 
		padding: 75px 0;
		.present {
			width: 250px;
			margin: 0 auto;
			margin-top: 5px;
		}
		&-text {
			margin-left: -15px;
			font-size: 40px;
			padding: 75px 0 0;
			p {
				br {
					display: none;
				}
			}
		}
		&-form {
			margin: 25px 15% 0;
			padding: 30px;
			@include border-radius (50px);
			p {
				font-size: 28px;
				margin-bottom: 25px;
			}
			&__input {
				width: 70%;
				margin-bottom: 15px;
	  			font-size: 13px;
	  			padding: 8px 15px;
	  			@include border-radius(17px);
			}
			&__btn {
				width: 70%;
				font-size: 16px;
				padding: 11px 0;
				@include border-radius(18px);
			}
		}
	}
	.guarantees {
		padding: 100px 0 80px;
		background-size: cover;
		h2 {
			margin-bottom: 35px;
		}
		&-itm {
			text-align: center;
			margin-bottom: 20px;
			padding: 0 15%;
			&__img {
				width: 105px;
				margin: 0 auto 10px;
				img {
					width: 100%;
					margin: 0 auto;
				}
			}
			&__text {
				color: #fff;
				line-height: 1.2;
			}
		}
	}
	.features {
		padding: 65px 15% 60px;
		background-size: cover;
		&-itm {
			text-align: center;	
			h3 {
				margin-bottom: 5px;
			}
			p {
				line-height: 1.2;
			}
		}
		&-1, &-2, &-3, &-4, &-5 {
			margin: 0 0 35px;
			&:before {
				display: none;
			}
		}
	}
	.products {
		padding: 60px 15%;
		background-size: cover;
		h2 {
			margin-bottom: 45px;
		}
	}
	.product {
		margin-bottom: 0;
		&-itm {
			margin-bottom: 15px;
		}	
		&-name {
			text-align: center;
			font-size: 28px;
			margin: 0 0 10px;
		}
		&-descript {
			font-size: 13px;
			text-align: center;
			margin: 0 0 11px 0;
		}	
		&-img {
			padding: 0 25%;
			margin-bottom: 20px;
		}
		&-price {
			font-size: 29px;
			padding-top: 2px;
			text-align: center;			
		}
		&-btn {
			width: 100%;
			font-size: 16px;
			padding: 8px 10px;
			margin-left: 0;
			@include border-radius(15px);
		}
	}
	.privilege {
		padding: 90px 0;
		h2 {
			text-align: center;
		}
		&-list {
			display: block;
			margin-bottom: 20px;
			text-align: center;
			padding: 0 15%;
			&-icon {
				display: block;
				float: none;
				margin-bottom: 5px;
			}
			&-text {
				display: block;
				font-size: 14px;
				margin-left: 0;
				text-align: center;
				h3 {
					margin-bottom: 5px;
				}
			}
		}
	}
	.how-we-work {
		padding: 70px 0 120px;	
		h2 {
			margin-bottom: 40px;
		}
		button {
			font-size: 17px;
			padding: 10px 60px;
			@include border-radius(18px);
		}			
	}
	.step-work {
		margin-bottom: 10px;
		.step {
			padding: 0 12%;
			&-1, &-2, &-3, &-4  {
				margin: 0 0 40px;
				&:before {
					display: none;
				}
			}

			&-number {
				width: 100px;
				height: 100px;
				@include border-radius(50px);
				font-size: 50px;
				margin-bottom: 15px;
				line-height: 90px;
			}
			&-text {
				font-size: 22px;
			}
		}
	}
	.personal-experience {
		padding: 25px 0 65px 30%;
		h2 {
			margin: 0 0 30px;
			text-align: center;
		}
		p {
			margin-bottom: 4px;
			line-height: 1.2;
		}
	}
	.reviews {
		padding: 60px 0 70px;
		h2 {
			margin-bottom: 50px;		
		}
		.slider {
			margin: 0 5%;
			padding: 40px 0;
			@include border-radius(50px);
			&-itm {
				padding: 0 20px;
				.user-photo {
					width: 130px;
					margin: 0 auto;
					margin-bottom: 20px;
					img {
						width: 100%;
					}
				}
				.user-text {
					line-height: 1.2;
					margin-bottom: 15px;
					p {
						font-size: 15px;
						margin-bottom: 3px;
					}
				}
			}
		}
		.slick-dots {
			bottom: 20px;
		}
	}
	.questions {
		padding: 80px 0 70px;
	}
	.panel {
		&-group {
			padding: 40px 50px;
		}
		&-title {
			> a {
				font-size: 25px;
			}
		}
		&-body {
			padding: 15px 0 0;
			font-size: 14px;
		}
	}
	footer {
		padding: 30px 0 40px;	
		.info {
			padding-top: 30px;
		}
	}
}
@media screen and (min-width: 768px) and (max-width: 991px) {
	body {
		font-size: 16px;
	}
	h2 {
		font-size: 48px;
	}
	h3 {
		font-size: 29px;
	}
	header {
		background-size: cover;
		padding-bottom: 410px;
	}
	.header-top {
		padding-top: 15px;
		img.soun {
			margin: 16px 6px 0 0;
			width: 100px;		
		}
		&-text {
			display: inline-block;
			width: 200px;
			font-size: 24px;
			vertical-align: bottom;
			padding-bottom: 2px;
		}
	}
	.logo {
		a > img {
			width: 100%;
		}
	}
	.info {
		font-size: 26px;
    	padding-top: 27px;
    	.email {
    		&:after {
   				top: 6px;
    			left: -36px;
    		}
    	}
    	a.phone {
    		&:after {
				left: -42px;
			    width: 26px;
			    height: 26px;
			    background-size: cover;
    		}
    	}
	}
	.advantage {
		padding-top: 68px;
		background-size: cover;
		h2 {
			margin-bottom: 40px;
		}
		&-itm {
			text-align: center;
			&__img {
				width: 110px;
				margin: 0 auto 15px;
				img {
					margin: 0 auto;
					width: 100%;
				}
			}
			&__title {
				margin-bottom: 10px;
			}	
		}
	}
	.order { 
		padding: 70px 0;
		.present {
			margin-top: 72px;
		}
		&-text {
			font-size: 41px;
			padding: 77px 0 0;
			p {
				br {
					display: none;
				}
			}
		}
		&-form {
			padding: 30px;
			background: #fff;
			@include border-radius (50px);
			box-shadow: 0px 0px 34px 0px rgba(0, 0, 0, 0.14);
			text-align: center;
			p {
				padding: 0 20px;
				font-family: 'Amatic SC', cursive;
				color: #3d3089;
				font-size: 30px;
				margin-bottom: 25px;
			}
			&__input {
				width: 100%;
				background: #faf4f8;
				border: none;
				margin-bottom: 15px;
	  			box-shadow: inset 0.5px 0.866px 1px 0px rgba(0, 0, 0, 0.27);
	  			outline: none;
	  			font-size: 13px;
	  			padding: 8px;
	  			@include border-radius(17px);
			}
			&__btn {
				font-size: 16px;
				padding: 10px 0;
				@include border-radius(18px);
			}
		}
	}
	.guarantees {
		padding: 95px 0;
		background: url("../images/guarantes-bg.jpg") no-repeat center top;
		background-size: cover;
		h2 {
			margin-bottom: 45px;
		}
		&-itm {
			text-align: center;
			&__img {
				width: 110px;
				margin: 0 auto 10px;
				img {
					width: 100%;
					margin: 0 auto;
				}
			}
			&__text {
				color: #fff;
				line-height: 1.2;
			}
		}
	}
	.features {
		padding: 83px 0;
		background-size: cover;
		img.pampers {
			width: 100%;
			margin: 0 auto;
		}
		&-itm {
			h3 {
				margin-bottom: 5px;
			}
			p {
				line-height: 1.2;
				font-size: 15px;
			}
		}
		&-1 {
			margin-right: 0;
			&:before {
				width: 73px;
				height: 207px;
				top: 11px;
				right: -72px;
				background-size: cover;
			}
		}
		&-2 {
			margin-top: 30px;
			&:before {
				width: 170px;
				height: 228px;
				top: 11px;
				left: -176px;
				background-size: cover;
			}
		}
		&-3 {
			&:before {
				width: 85px;
				height: 100px;
				top: 11px;
				left: -90px;
				background-size: cover;
			}
		}
		&-4 {
			margin-top: -40px;
			&:before {
				width: 50px;
				height: 135px;
				top: -117px;
				right: 85px;
				background-size: cover;
			}
		}
		&-5 {
			margin-top: -35px;
			&:before {
			    width: 51px;
			    height: 135px;
			    top: -118px;
			    left: -45px;	
				background-size: cover;
			}
		}
	}
	.products {
		padding: 80px 0;
	}
	.product {
		margin-bottom: 15px;	
		&-name {
			font-size: 27px;
			margin-left: -15px;
		}
		&-descript {
			font-size: 12px;
			margin: 0 0 35px -15px;
		}	
		&-price {
			font-size: 30px;			
		}
		&-btn {
			width: 100%;
			font-size: 16px;
			padding: 7px 10px;
			@include border-radius(15px);
		}
	}
	.privilege {
		padding: 100px 0 120px;
		h2 {
			text-align: center;
		}
		&-list {
			margin-bottom: 20px;
			&-text {
				margin-left: 80px;
				h3 {
					margin-bottom: 10px;
				}
			}
		}
	}
	.how-we-work {
		padding: 70px 0 108px;	
		h2 {
			margin-bottom: 65px;
		}
		button {
			font-size: 18px;
			padding: 10px 62px;
			@include border-radius(20px);
		}			
	}
	.step-work {
		margin-bottom: 55px;
		.step {
			&-1 {
				&:before {
					width: 151px;
    				height: 88px;
    				top: 43px;
    				right: -126px;
				}
			}
			&-2 {
				margin-top: 127px;
				&:before {
				    width: 90px;
				    height: 139px;
				    top: -88px;
				    right: -65px;
				}
			}
			&-3 {
    			margin-top: 18px;
				&:before {
				    width: 88px;
				    height: 107px;
				    top: 46px;
				    right: -62px;
				}
			}
			&-number {
				width: 110px;
				height: 110px;
				@include border-radius(55px);
				font-size: 65px;
				margin-bottom: 15px;
				line-height: 100px;
			}
			&-text {
				font-size: 26px;
			}
		}
	}
	.personal-experience {
		padding: 45px 0 65px;
		p {
			margin-bottom: 4px;
			line-height: 1.2;
		}
	}
	.reviews {
		padding: 60px 0 60px;
		h2 {
			margin-bottom: 50px;		
		}
		.slider {
			padding: 40px 0;
			@include border-radius(50px);
			&-itm {
				padding: 0 60px;
				.user-photo {
					margin-bottom: 20px;
				}
				.user-text {
					line-height: 1.2;
					p {
						font-size: 15px;
						margin-bottom: 3px;
					}
				}
			}
		}
		.slick-dots {
			bottom: 20px;
		}
	}
	.questions {
		padding: 100px 0 80px;
	}
	.panel {
		&-title {
			> a {
				font-size: 26px;
			}
		}
		&-body {
			padding: 15px 0 0;
		}
	}
	footer {
		padding: 30px 0 40px;
	}
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
	body {
		font-size: 16px;
	}
	h1 {
		font-size: 50px;
	}
	h2 {
		font-size: 50px;
	}
	h3 {
		font-size: 30px;
	}	
	header {
		padding-bottom: 410px;
		background-size: cover;
	}
	.header-top {
		padding: 20px;
		.logo {
			padding-top: 11px;
			a > img {
				width: 100%;
			}
		}
		p {
			font-size: 27px;
		}
		img.soun {
			margin: 0 17px 0 9px;
		}
	}
	.advantage {
		padding: 55px 0 70px;
	}
	.order {
		padding: 110px 0 60px;
		.present {
			margin-top: 53px;
		}
		&-form {
			margin-top: 10px;
		}
	}
	.features {
		background-size: cover;
		&-itm {
			h3 {
				margin-bottom: 5px;
			}
			p {
				font-size: 15px;
			}
		}
		&-1 {
			margin-right: 0;
			&:before {
				width: 77px;
				height: 211px;
				top: 11px;
				right: -75px;
				background-size: cover;
			}
		}
		&-2 {
			&:before {
				width: 166px;
				height: 222px;
				top: 11px;
				left: -172px;
				background-size: cover;
			}
		}
		&-3 {
			margin-top: 40px;
			&:before {
				width: 103px;
				height: 120px;
				top: 11px;
				left: -111px;
				background-size: cover;
			}
		}
		&-4 {
			margin-top: -40px;
			&:before {
				width: 47px;
				height: 128px;
				top: -108px;
				right: 85px;
				background-size: cover;
			}
		}
		&-5 {
			margin-top: -35px;
			&:before {
			    width: 47px;
			    height: 126px;
			    top: -108px;
			    left: -40px;
				background-size: cover;
			}
		}
	}
	.product {
		margin-bottom: 20px;
		&-descript {
			margin-bottom: 40px;
		}
		&-btn {
			font-size: 16px;
			@include border-radius(15px);
		}
	}
	.privilege {
		padding-bottom: 60px;
		&-list {
			&-text {
			margin-left: 80px;
			}
		}
	}
	.step-work {
		.step-1 {
			&:before {
			    width: 194px;
			    height: 115px;
			    right: -143px;			
			}
		}
		.step-2 {
			&:before {
			    width: 149px;
			    height: 189px;
			    top: -151px;
			    right: -95px;
			}
		}
		.step-3 {
			&:before {
			    width: 178px;
			    right: -127px;
			}
		}
	}
	.personal-experience {
		padding: 30px 0 65px;
	}
	.reviews {
		padding: 60px 0;
	}
}
