@charset "UTF-8";
html, body, div, span, h1, h2, h2, h3, h4, h5, h6, hr, p, a, img, ol, ul, li, form, label, legend, caption, table, th, td, tr, article, aside, figure, figcaption, footer, header, menu, nav, section, span { margin: 0; padding: 0; font-size: 100%; }

body { line-height: 1; }

article, aside, footer, header, nav, section { display: block; }

ol, ul { list-style: none; }

a, a:hover, a:active { display: inline-block; text-decoration: none; }

img { display: block; }

a:hover { -webkit-transition: all 0.4s ease-in-out; -moz-transition: all 0.4s ease-in-out; -ms-transition: all 0.4s ease-in-out; -o-transition: all 0.4s ease-in-out; transition: all 0.4s ease-in-out; }

body { width: 100%; font-family: "Tenor Sans", sans-serif; color: #333333; }

#wrapper { display: block; position: relative; width: 100%; max-width: 1280px; min-width: 320px; margin: 0 auto; }

.header-top { padding-top: 47px; margin-bottom: 45px; }

.logo { font-family: "Tenor Sans", sans-serif; font-size: 22px; color: #c45501; text-transform: uppercase; letter-spacing: 0.1rem; }

#top-menu { display: none; width: 442px; position: absolute; top: -50px; right: -10px; z-index: 3; padding: 47px 22px 340px 48px; box-sizing: border-box; background: #999999; }

.top-menu .close-btn { margin-bottom: 38px; }
.top-menu__box { display: block; margin-bottom: 165px; }
.top-menu__box li { margin-bottom: 30px; }
.top-menu__box li:last-child { margin-bottom: 0; }
.top-menu__box a { display: inline-block; text-align: right; font-family: 'Lato', sans-serif; font-size: 20px; color: #ffffff; letter-spacing: 0.1rem; text-transform: uppercase; }
.top-menu__contact { text-align: right; margin-top: 60px; }
.top-menu__contact p { font-family: 'Lato', sans-serif; font-size: 15px; text-transform: uppercase; color: #fff; padding-bottom: 20px; }
.top-menu__contact p:last-child { padding-bottom: 0; }

.social { display: block; text-align: right; }
.social a { display: inline-block; margin-right: 25px; }
.social a:last-child { margin-right: 0; }
.social a:hover .fa-hover { color: #c55501; }
.social a .fab { font-size: 20px; color: #fff; }

.header-main { position: relative; margin-bottom: 89px; height: 764px; }
.header-main h1 { position: absolute; z-index: 2; top: 0; top: 93px; left: 537px; font-family: 'Lato', sans-serif; font-size: 60px; text-transform: uppercase; letter-spacing: 0.05rem; }
.header-main img { position: absolute; top: 0; left: 105px; z-index: 1; }
.header-main__info { width: 100%; position: absolute; top: 321px; left: 738px; z-index: 2; font-size: 20px; }
.header-main__info p { margin-bottom: 40px; line-height: 1.2; }
.header-main__info p:last-child { margin-bottom: 0; }
.header-main__info span { border-bottom: 1px solid #c45501; }

#b-cours { margin-bottom: 87px; }
#b-cours img { height: 100%; }

.sec-title { font-family: 'Lato', sans-serif; font-size: 60px; margin-bottom: 22px; text-transform: uppercase; letter-spacing: 0.05rem; }

.box-info { background: #333; padding: 80px 130px 0 114px; margin-left: -20px; }
.box-info__item { text-align: left; margin-top: 21px; }
.box-info__item:first-child { margin-top: 0; }
.box-info h3, .box-info p { color: #fff; }
.box-info h3 { font-family: 'Lato', sans-serif; font-size: 23px; text-transform: uppercase; margin-bottom: 12px; letter-spacing: 0.05rem; }
.box-info p { font-size: 15px; line-height: 1.5; }

.btn-more { text-align: center; font-family: 'Lato', sans-serif; font-size: 15px; color: #333333; text-transform: uppercase; letter-spacing: 0.1rem; padding: 23px 120px 22px; border-radius: 50px; background: #fff; }
.btn-more:hover { color: #c55501; }

.box-info__btn { margin-top: 39px; margin-bottom: 80px; }

#o-cours { margin-bottom: 87px; }

.o-cours__item { background: #333333; padding: 30px 23px 40px; margin-bottom: 30px; }
.o-cours__item img { margin: 0 auto 22px; }
.o-cours__item h3 { font-family: 'Lato', sans-serif; font-size: 23px; color: #fff; text-transform: uppercase; margin-bottom: 25px; letter-spacing: 0.05rem; }
.o-cours__item p { font-size: 15px; color: #fff; margin-bottom: 25px; line-height: 1.5; }
.o-cours__item .btn-more { padding: 23px 87px 22px; }
.o-cours__btn { font-family: 'Lato', sans-serif; font-size: 15px; color: #c45501; text-align: center; text-transform: uppercase; letter-spacing: 0.1rem; box-sizing: border-box; border: 1px solid #c45501; padding: 29px 252px; border-radius: 50px; background: #fff; }
.o-cours__btn:hover { background: #c45501; color: #fff; }

#strategy { margin-bottom: 87px; }
#strategy .box-info { padding: 80px 130px 0 114px; margin-left: 0; margin-right: -20px; }

.dispatch { margin-bottom: 100px; position: relative; height: 761px; }
.dispatch-title { position: absolute; left: 115px; top: 170px; font-family: 'Lato', sans-serif; font-size: 60px; text-transform: uppercase; z-index: 2; margin-bottom: 40px; letter-spacing: 0.05rem; }
.dispatch img { position: absolute; left: 537px; }
.dispatch-block { width: 100%; box-sizing: border-box; padding-right: 20px; position: absolute; top: 410px; left: 115px; }
.dispatch-block__text { box-sizing: border-box; font-size: 20px; margin-bottom: 24px; line-height: 1.3; }
.dispatch .form-email { width: 100%; }
.dispatch .form-email input, .dispatch .form-email button { outline: none; }
.dispatch .form-email input#email { box-sizing: border-box; padding: 22px 59px  22px 20px; border: 1px solid #112b4e; color: #333333; font-family: "Tenor Sans", sans-serif; font-size: 20px; }
.dispatch .form-email input::-webkit-input-placeholder { color: #333333; font-family: "Tenor Sans", sans-serif; font-size: 20px; }
.dispatch .form-email .btn-ok { box-sizing: border-box; margin-left: -6px; padding: 24.5px 31px; background: #c55501; color: #fff; font-family: "Tenor Sans", sans-serif; font-size: 20px; vertical-align: top; }
.dispatch .form-email .btn-ok:hover { background: #de5f00; }

footer { background: #333333; padding: 50px 0; }
footer .logo { color: #ffffff; }
footer .social a:hover .fab { color: #c45501; }

.footer-menu { display: block; }
.footer-menu li { margin-bottom: 22px; }
.footer-menu li:last-child { margin-bottom: 0; }
.footer-menu li a { font-family: 'Lato', sans-serif; font-size: 15px; color: #ffffff; text-transform: uppercase; letter-spacing: 0.1rem; }
.footer-menu li a:hover { color: #c45501; }

/********************Медиазапросы*******************/
@media (min-width: 320px) and (max-width: 359px) { header { margin-bottom: 60px; }
  .header-top { padding-top: 30px; margin-bottom: 30px; }
  .header-top .logo { font-size: 14px; }
  .header-top #top-box { width: auto; right: 0; }
  .header-top #top-box li a { font-size: 16px; }
  #top-menu { display: none; width: 330px; position: absolute; right: -10px; z-index: 3; padding: 30px 22px 135px 20px; box-sizing: border-box; background: #999999; }
  .top-menu .close-btn { margin-bottom: 38px; }
  .top-menu__box { display: block; margin-bottom: 165px; }
  .top-menu__box li { margin-bottom: 30px; }
  .top-menu__box li:last-child { margin-bottom: 0; }
  .top-menu__box a { display: inline-block; text-align: right; font-family: 'Lato', sans-serif; font-size: 20px; color: #ffffff; letter-spacing: 0.1rem; text-transform: uppercase; }
  .top-menu__contact { text-align: right; margin-top: 60px; }
  .top-menu__contact p { font-family: 'Lato', sans-serif; font-size: 15px; text-transform: uppercase; color: #fff; padding-bottom: 20px; }
  .top-menu__contact p:last-child { padding-bottom: 0; }
  .social { display: block; text-align: right; }
  .social a { display: inline-block; margin-right: 25px; }
  .social a:last-child { margin-right: 0; }
  .social a:hover .fa-hover { color: #c55501; }
  .social a .fab { font-size: 20px; color: #fff; }
  .header-main { height: auto; margin-bottom: 0; }
  .header-main h1 { position: static; font-size: 25px; margin: 0 0 10px 20px; }
  .header-main img { position: static; width: 100%; margin-bottom: 15px; }
  .header-main__info { position: static; font-size: 12px; }
  .header-main__info p { margin-bottom: 25px; }
  .sec-title { font-size: 25px; margin-bottom: 15px; margin-left: 20px; }
  #b-cours { margin-bottom: 60px; }
  #b-cours .container { padding: 0; }
  #b-cours .sec-title { margin-left: 30px; }
  .box-img img { width: 100%; }
  .box-info { padding: 20px 10px 0; margin-left: 0; }
  .box-info__item { margin-top: 15px; }
  .box-info__item h3 { font-size: 15px; margin-bottom: 10px; }
  .box-info__item p { font-size: 12px; }
  .box-info .btn-more { padding: 13px 71px 13px; font-size: 12px; }
  .box-info__btn { margin: 20px 0; }
  #o-cours { margin-bottom: 60px; }
  .o-cours__item { margin-bottom: 10px; padding: 22px 10px 13px; }
  .o-cours__item h3 { font-size: 15px; margin-bottom: 15px; }
  .o-cours__item img { padding: 0 30px; max-width: 100%; margin-bottom: 20px; }
  .o-cours__item p { font-size: 12px; margin-bottom: 20px; }
  .o-cours__item .btn-more { font-size: 10px; padding: 15px 53px 15px; border-radius: 30px; }
  .o-cours__btn { font-size: 10px; padding: 14px 93px; }
  #strategy { margin-bottom: 60px; }
  #strategy .container { padding: 0; }
  #strategy .sec-title { margin-left: 30px; }
  #strategy .box-info { padding: 20px 10px 0; margin-right: 0; }
  .dispatch { height: auto; margin-bottom: 70px; }
  .dispatch-title { position: static; margin: 0 0 20px 20px; font-size: 25px; }
  .dispatch img { position: static; max-width: 100%; margin-bottom: 20px; }
  .dispatch-block { position: static; padding-right: 0; }
  .dispatch-block__text { font-size: 12px; margin-bottom: 10px; }
  .dispatch .form-email .btn-ok { font-size: 12px; padding: 14px 23px; }
  .dispatch .form-email input#email { padding: 12px 104px 12px 5px; font-size: 12px; }
  .dispatch .form-email input::-webkit-input-placeholder { display: inline-block; font-size: 12px; }
  footer { text-align: center; padding: 30px 0; }
  footer .logo { font-size: 14px; margin-bottom: 25px; }
  footer .footer-menu { margin-bottom: 30px; }
  footer .footer-menu ul li { margin-bottom: 25px; }
  footer .footer-menu ul li a { font-size: 10px; }
  footer .social { text-align: center; } }
@media (min-width: 360px) and (max-width: 479px) { header { margin-bottom: 60px; }
  .header-top { padding-top: 30px; margin-bottom: 30px; }
  .header-top .logo { font-size: 17px; }
  .header-top #top-box { width: auto; right: 0; }
  .header-top #top-box li a { font-size: 16px; }
  .header-main { height: auto; margin-bottom: 0; }
  .header-main h1 { position: static; font-size: 35px; margin: 0 0 10px 10px; }
  .header-main img { position: static; width: 100%; margin-bottom: 15px; padding: 0 10px; }
  .header-main__info { position: static; font-size: 16px; }
  .header-main__info p { margin-bottom: 25px; }
  .sec-title { font-size: 35px; margin-bottom: 15px; margin-left: 10px; }
  #b-cours { margin-bottom: 60px; }
  .box-img img { width: 100%; }
  .box-info { padding: 20px 26px 0; margin-left: 0; }
  .box-info__item { margin-top: 15px; }
  .box-info__item h3 { font-size: 19px; margin-bottom: 10px; }
  .box-info__item p { font-size: 14px; }
  .box-info .btn-more { padding: 13px 71px 13px; font-size: 12px; }
  .box-info__btn { margin: 20px 0 30px; }
  #o-cours { margin-bottom: 60px; }
  .o-cours__item { margin-bottom: 10px; padding: 22px 10px 30px; }
  .o-cours__item h3 { font-size: 19px; margin-bottom: 15px; }
  .o-cours__item img { padding: 0 30px; max-width: 100%; margin-bottom: 20px; }
  .o-cours__item p { font-size: 14px; margin-bottom: 20px; }
  .o-cours__item .btn-more { font-size: 11px; padding: 15px 53px 15px; border-radius: 30px; }
  .o-cours__btn { font-size: 11px; padding: 14px 110px; margin-top: 10px; }
  #strategy { margin-bottom: 60px; }
  #strategy .box-info { padding: 20px 26px 0; margin-right: 0; }
  .dispatch { height: auto; margin-bottom: 70px; }
  .dispatch-title { position: static; margin: 0 0 20px 10px; font-size: 35px; }
  .dispatch img { position: static; max-width: 100%; margin-bottom: 20px; }
  .dispatch-block { position: static; padding-right: 0; }
  .dispatch-block__text { font-size: 14px; margin-bottom: 10px; }
  .dispatch .form-email { text-align: center; }
  .dispatch .form-email .btn-ok { font-size: 14px; padding: 14.5px 23px; }
  .dispatch .form-email input#email { padding: 12px 104px 12px 5px; font-size: 14px; }
  .dispatch .form-email input::-webkit-input-placeholder { display: inline-block; font-size: 14px; }
  footer { text-align: center; padding: 30px 0; }
  footer .logo { font-size: 18px; margin-bottom: 25px; }
  footer .footer-menu { margin-bottom: 30px; }
  footer .footer-menu ul li { margin-bottom: 20px; }
  footer .footer-menu ul li a { font-size: 12px; }
  footer .social { text-align: center; } }
@media (min-width: 480px) and (max-width: 639px) { header { margin-bottom: 60px; }
  .header-top { padding-top: 35px; margin-bottom: 35px; }
  .header-top .logo { font-size: 20px; }
  .header-top #top-box { width: auto; right: 0; }
  .header-top #top-box li a { font-size: 16px; }
  .header-main { height: auto; margin-bottom: 0; }
  .header-main h1 { position: static; font-size: 40px; margin: 0 0 20px 10px; }
  .header-main img { position: static; width: 100%; margin-bottom: 20px; padding: 0 10px; }
  .header-main__info { position: static; font-size: 17px; }
  .header-main__info p { margin-bottom: 20px; }
  .sec-title { font-size: 40px; margin-bottom: 15px; margin-left: 10px; }
  #b-cours { margin-bottom: 60px; }
  .box-img img { width: 100%; }
  .box-info { padding: 30px 51px 0; margin-left: 0; }
  .box-info__item { margin-top: 25px; }
  .box-info__item h3 { font-size: 19px; margin-bottom: 10px; }
  .box-info__item p { font-size: 14px; }
  .box-info .btn-more { padding: 13px 71px 13px; font-size: 13px; }
  .box-info__btn { margin: 20px 0 35px; }
  #o-cours { margin-bottom: 60px; }
  .o-cours__item { margin-bottom: 15px; padding: 22px 10px 35px; }
  .o-cours__item h3 { font-size: 19px; margin-bottom: 15px; }
  .o-cours__item img { padding: 0 30px; max-width: 100%; margin-bottom: 20px; }
  .o-cours__item p { font-size: 14px; margin-bottom: 20px; }
  .o-cours__item .btn-more { font-size: 11px; padding: 15px 110px 15px; border-radius: 30px; }
  .o-cours__btn { font-size: 11px; padding: 14px 130px; margin-top: 10px; }
  #strategy { margin-bottom: 60px; }
  #strategy .box-info { padding: 30px 51px 0; margin-right: 0; }
  .dispatch { height: auto; margin-bottom: 70px; }
  .dispatch-title { position: static; margin: 0 0 20px 10px; font-size: 35px; }
  .dispatch img { position: static; max-width: 100%; margin-bottom: 20px; }
  .dispatch-block { position: static; padding-right: 0; }
  .dispatch-block__text { font-size: 17px; margin-bottom: 20px; }
  .dispatch .form-email { text-align: center; }
  .dispatch .form-email .btn-ok { font-size: 17px; padding: 14.5px 23px; }
  .dispatch .form-email input#email { padding: 12px 104px 12px 5px; font-size: 17px; }
  .dispatch .form-email input::-webkit-input-placeholder { display: inline-block; font-size: 17px; }
  footer { text-align: center; padding: 30px 0; }
  footer .logo { font-size: 20px; margin-bottom: 25px; }
  footer .footer-menu { margin-bottom: 30px; }
  footer .footer-menu ul li { margin-bottom: 15px; }
  footer .footer-menu ul li a { font-size: 15px; }
  footer .social { text-align: center; } }
@media screen and (min-width: 640px) and (max-width: 767px) { header { margin-bottom: 60px; }
  .header-top { padding-top: 35px; margin-bottom: 35px; }
  .header-top .logo { font-size: 20px; }
  .header-top #top-box { width: auto; right: 0; }
  .header-top #top-box li a { font-size: 16px; }
  .header-main { height: auto; margin-bottom: 0; }
  .header-main h1 { position: static; font-size: 40px; margin: 0 0 20px 10px; }
  .header-main img { position: static; width: 100%; margin-bottom: 20px; padding: 0 10px; }
  .header-main__info { position: static; font-size: 17px; }
  .header-main__info p { margin-bottom: 20px; }
  .sec-title { font-size: 40px; margin-bottom: 15px; margin-left: 10px; }
  #b-cours { margin-bottom: 60px; }
  .box-img img { width: 100%; }
  .box-info { padding: 30px 101px 0; margin-left: 0; }
  .box-info__item { margin-top: 25px; }
  .box-info__item h3 { font-size: 19px; margin-bottom: 10px; }
  .box-info__item p { font-size: 14px; }
  .box-info .btn-more { padding: 13px 71px 13px; font-size: 13px; }
  .box-info__btn { margin: 20px 0 35px; }
  #o-cours { margin-bottom: 60px; }
  .o-cours__item { margin-bottom: 15px; padding: 22px 10px 35px; }
  .o-cours__item h3 { font-size: 19px; margin-bottom: 15px; }
  .o-cours__item img { padding: 0 30px; max-width: 100%; margin-bottom: 20px; }
  .o-cours__item p { font-size: 14px; margin-bottom: 20px; }
  .o-cours__item .btn-more { font-size: 11px; padding: 15px 110px 15px; border-radius: 30px; }
  .o-cours__btn { font-size: 11px; padding: 14px 130px; margin-top: 10px; }
  #strategy { margin-bottom: 60px; }
  #strategy .box-info { padding: 30px 101px 0; margin-right: 0; }
  .dispatch { height: auto; margin-bottom: 70px; }
  .dispatch-title { position: static; margin: 0 0 20px 10px; font-size: 40px; }
  .dispatch img { position: static; max-width: 100%; margin: 0 auto; margin-bottom: 20px; }
  .dispatch-block { position: static; padding-right: 0; }
  .dispatch-block__text { font-size: 19px; margin-bottom: 20px; }
  .dispatch .form-email { text-align: center; }
  .dispatch .form-email .btn-ok { font-size: 17px; padding: 14.5px 23px; }
  .dispatch .form-email input#email { padding: 12px 104px 12px 5px; font-size: 17px; }
  .dispatch .form-email input::-webkit-input-placeholder { display: inline-block; font-size: 17px; }
  footer { text-align: center; padding: 30px 0; }
  footer .logo { font-size: 20px; margin-bottom: 25px; }
  footer .footer-menu { margin-bottom: 30px; }
  footer .footer-menu ul li { margin-bottom: 15px; }
  footer .footer-menu ul li a { font-size: 16px; }
  footer .social { text-align: center; } }
@media screen and (min-width: 768px) and (max-width: 991px) { header { margin-bottom: 65px; }
  #top-box { width: 318px; padding: 47px 10px 206px 10px; }
  .header-main { margin-bottom: 0; }
  .header-main h1 { font-size: 50px; left: 300px; }
  .header-main img { height: 764px; max-width: 100%; left: 0; }
  .header-main__info { top: 300px; left: 433px; font-size: 17px; }
  .header-main__info p { margin-bottom: 25px; }
  .sec-title { font-size: 47px; }
  #b-cours { margin-bottom: 65px; }
  .box-img { overflow: hidden; }
  .box-info { padding: 71px 41px 0; }
  .box-info h3 { font-size: 20px; }
  .box-info p { font-size: 14px; }
  .box-info .btn-more { padding: 16px 55px 16px; border-radius: 32px; }
  .box-info__btn { margin-top: 46px; margin-bottom: 50px; }
  #o-cours { margin-bottom: 65px; }
  .o-cours__item { padding: 30px 10px 40px; }
  .o-cours__item h3 { font-size: 18px; }
  .o-cours__item img { max-width: 100%; }
  .o-cours__item .btn-more { font-size: 12px; padding: 15px 35px 15px; border-radius: 30px; }
  .o-cours__btn { padding: 17px 150px; }
  #strategy { margin-bottom: 65px; }
  #strategy .box-info { padding: 70px 41px 0; margin-right: -20px; }
  .dispatch { height: 540px; }
  .dispatch-title { top: 55px; left: 10px; font-size: 50px; }
  .dispatch img { max-width: 100%; left: 297px; }
  .dispatch-block { top: 250px; left: 10px; }
  .dispatch-block__text { font-size: 18px; padding-right: 0; }
  .dispatch .form-email .btn-ok { padding: 22.5px 11px; }
  .dispatch .form-email input#email { padding: 20px 0px 20px 5px; }
  .dispatch .form-email input::-webkit-input-placeholder { display: inline-block; font-size: 16px; }
  footer .logo { text-align: center; font-size: 20px; }
  footer .footer-menu { text-align: center; }
  footer .footer-menu ul a { line-height: 1.2; } }
@media screen and (min-width: 991px) and (max-width: 1199px) { #top-box { width: 360px; padding: 47px 11px 226px 15px; }
  .header-main h1 { left: 449px; font-size: 55px; }
  .header-main img { width: 100%; height: 764px; left: 50px; }
  .header-main__info { top: 295px; left: 630px; font-size: 16px; }
  .header-main__info p { margin-bottom: 30px; }
  .sec-title { font-size: 55px; }
  .box-img { overflow: hidden; }
  .box-info { padding: 80px 48px 0; }
  .box-info .btn-more { padding: 23px 119px 22px; }
  .o-cours__item { padding: 30px 22px 40px; }
  .o-cours__item img { max-width: 100%; }
  .o-cours__item .btn-more { padding: 19px 54px 19px; }
  #strategy .box-info { padding: 79px 48px 0; }
  .dispatch-title { font-size: 55px; top: 180px; left: 50px; }
  .dispatch img { max-width: 100%; height: 761px; left: 470px; }
  .dispatch-block { top: 390px; left: 50px; padding-right: 15px; }
  .dispatch .form-email .btn-ok { padding: 24.5px 25px; }
  .dispatch .form-email input#email { padding-right: 56px; }
  footer .logo { font-size: 19px; }
  footer .footer-menu a { line-height: 1.2; } }
@media screen and (min-width: 1200px) and (max-width: 1279px) { .container { width: 1190px; max-width: 1190px; }
  .box-img { overflow: hidden; }
  .box-info { padding: 80px 95px 0 114px; }
  .o-cours__item { padding: 30px 18px 40px; }
  #strategy .box-info { padding: 79px 95px 0 114px; }
  .dispatch-title { font-size: 55px; top: 180px; left: 50px; }
  .dispatch img { max-width: 100%; height: 761px; left: 470px; }
  .dispatch-block { top: 390px; left: 50px; padding-right: 0; }
  .dispatch .form-email .btn-ok { padding: 24.5px 25px; } }
